In [153]:
import pandas as pd
import re

In [154]:
patients=pd.read_csv('patients.csv')
treatment=pd.read_csv('treatments.csv')
adverse=pd.read_csv('adverse_reactions.csv')
treatment_cut=pd.read_csv('treatments_cut.csv')

In [155]:
print(patients.shape)
print(treatment.shape)
print(adverse.shape)
print(treatment_cut.shape)

(503, 14)
(280, 7)
(34, 3)
(70, 7)

In [156]:
treatment_cut

,given_name,surname,auralin,novodra,hba1c_start,hba1c_end,hba1c_change
0,jožka,resanovič,22u - 30u,-,7.56,7.22,0.34
1,inunnguaq,heilmann,57u - 67u,-,7.85,7.45,NaN
2,alwin,svensson,36u - 39u,-,7.78,7.34,NaN
3,thể,lương,-,61u - 64u,7.64,7.22,0.92
4,amanda,ribeiro,36u - 44u,-,7.85,7.47,0.38
5,meya,sjöberg,-,42u - 42u,7.77,7.42,0.35
6,sara,miles,30u - 35u,-,7.53,7.12,NaN
7,frydryk,adamski,63u - 74u,-,7.75,7.27,NaN
8,jane,citizen,-,37u - 38u,7.98,7.60,NaN
9,angela,lavrentyev,-,28u - 24u,7.61,7.14,0.97
10,edelma,villalpando,-,24u - 26u,7.99,7.56,0.93
11,gabriela,michalčíková,26u - 36u,-,8.37,7.97,NaN
12,annika,vaara,-,20u - 21u,7.73,7.34,0.39
13,bernarda,cindrić,40u - 49u,-,7.89,7.55,0.34
14,chiho,higa,-,46u - 46u,7.71,7.30,NaN
15,dani,antoun,36u - 44u,-,7.73,7.34,0.39
16,mijael,guerra,37u - 47u,-,7.85,7.46,0.39
17,emma,barlow,48u - 57u,-,7.85,7.39,NaN
18,flavia,fiorentino,46u - 57u,-,7.95,7.60,0.35
19,noe,aranda,26u - 34u,-,7.51,7.17,0.34
20,seweryna,czerwinska,39u - 46u,-,7.66,7.30,0.36
21,david,villadsen,26u - 39u,-,7.86,7.40,NaN
22,beatrycze,woźniak,-,26u - 27u,7.54,7.17,0.37
23,miłosław,wiśniewski,-,34u - 33u,7.51,7.08,0.93
24,lóa,hrafnsdóttir,22u - 31u,-,7.60,7.09,NaN
25,siebrigje,koldenhof,30u - 38u,-,7.90,7.59,0.31
26,firenze,fodor,-,30u - 35u,7.89,7.55,0.34
27,zoe,wellish,-,33u - 33u,7.71,7.30,0.91
28,una,traustadóttir,-,35u - 34u,8.00,7.50,NaN
29,luboš,pecha,-,30u - 27u,7.79,7.45,0.34
...,...,...,...,...,...,...,...
40,eufemio,rosario,-,37u - 40u,7.54,7.26,0.28
41,dalmacia,madrid,-,26u - 23u,7.67,7.21,0.96
42,daimy,tromp,-,40u - 45u,9.41,8.94,0.97
43,hans peter,radislav,42u - 53u,-,7.60,7.20,NaN
44,jeremy,montagu,-,52u - 52u,7.68,7.36,NaN
45,štefanija,novosel,37u - 42u,-,7.64,7.17,NaN
46,anja,mueller,43u - 56u,-,7.58,7.29,0.29
47,regolo,nucci,51u - 59u,-,7.53,7.02,NaN
48,nebechi,ekechukwu,-,37u - 39u,7.78,7.39,0.39
49,satsita,batukayev,-,42u - 42u,7.63,7.25,0.38
50,timothy,cotton,-,26u - 25u,7.92,7.52,0.90
51,bjørnar,nilsen,-,36u - 33u,7.99,7.70,NaN
52,vivien,zsinkó,30u - 38u,-,8.35,7.92,NaN
53,genet,fesahaye,25u - 35u,-,7.73,7.36,0.37
54,borna,šlezinger,-,42u - 41u,7.55,7.18,NaN
55,mary,adams,-,32u - 33u,7.65,7.26,NaN
56,blanka,jurković,31u - 43u,-,7.77,7.33,NaN
57,joseph,tucker,48u - 56u,-,7.67,7.30,0.37
58,christopher,woodward,-,55u - 51u,7.51,7.06,0.95
59,robert,maslov,55u - 68u,-,7.65,7.35,0.30
60,maret,sultygov,-,26u - 23u,7.67,7.30,NaN
61,ella,lund,38u - 47u,-,7.57,7.21,0.36
62,fakhri,fakhoury,39u - 50u,-,7.83,7.39,NaN
63,žarka,rap,35u - 48u,-,7.54,7.15,NaN
64,lixue,hsueh,-,22u - 23u,9.21,8.80,0.91
65,rovzan,kishiev,32u - 37u,-,7.75,7.41,0.34
66,jakob,jakobsen,-,28u - 26u,7.96,7.51,0.95
67,bernd,schneider,48u - 56u,-,7.74,7.44,0.30
68,berta,napolitani,-,42u - 44u,7.68,7.21,NaN
69,armina,sauvé,36u - 46u,-,7.86,7.40,NaN

In [157]:
result = pd.concat([treatment, treatment_cut], ignore_index=True, sort=False)

In [158]:
result

,given_name,surname,auralin,novodra,hba1c_start,hba1c_end,hba1c_change
0,veronika,jindrová,41u - 48u,-,7.63,7.20,NaN
1,elliot,richardson,-,40u - 45u,7.56,7.09,0.97
2,yukitaka,takenaka,-,39u - 36u,7.68,7.25,NaN
3,skye,gormanston,33u - 36u,-,7.97,7.62,0.35
4,alissa,montez,-,33u - 29u,7.78,7.46,0.32
5,jasmine,sykes,-,42u - 44u,7.56,7.18,0.38
6,sophia,haugen,37u - 42u,-,7.65,7.27,0.38
7,eddie,archer,31u - 38u,-,7.89,7.55,0.34
8,saber,ménard,-,54u - 54u,8.08,7.70,NaN
9,asia,woźniak,30u - 36u,-,7.76,7.37,NaN
10,joseph,day,29u - 36u,-,7.70,7.19,NaN
11,kristiina,hyypiä,-,36u - 38u,7.87,7.49,0.38
12,roxanne,andreyeva,29u - 38u,-,9.54,9.14,NaN
13,gregor,bole,-,47u - 45u,7.61,7.16,0.95
14,simone,baumgaertner,27u - 37u,-,7.74,7.30,NaN
15,enco,žibrik,55u - 68u,-,7.78,7.34,NaN
16,camilla,zaitseva,28u - 37u,-,7.53,7.13,NaN
17,gina,cain,-,36u - 36u,7.88,7.40,0.98
18,addolorata,lombardi,-,49u - 46u,7.75,7.33,NaN
19,khalid,johnsrud,-,54u - 54u,8.35,7.94,NaN
20,mile,stanić,-,47u - 48u,7.66,7.24,0.92
21,tekla,walczak,29u - 39u,-,7.61,7.29,0.32
22,brancaleone,russo,53u - 60u,-,8.61,8.18,NaN
23,chiemela,tobeolisa,-,43u - 47u,7.59,7.17,NaN
24,isac,berg,31u - 41u,-,9.68,9.29,0.39
25,benoît,bonami,-,44u - 43u,9.82,9.40,0.92
26,suhaim,rahal,-,49u - 47u,7.94,7.50,0.94
27,mizuki,iwata,-,45u - 46u,7.70,7.23,0.97
28,clinton,miller,42u - 51u,-,7.79,7.40,0.39
29,eugene,mironov,42u - 49u,-,7.81,7.48,0.33
...,...,...,...,...,...,...,...
320,eufemio,rosario,-,37u - 40u,7.54,7.26,0.28
321,dalmacia,madrid,-,26u - 23u,7.67,7.21,0.96
322,daimy,tromp,-,40u - 45u,9.41,8.94,0.97
323,hans peter,radislav,42u - 53u,-,7.60,7.20,NaN
324,jeremy,montagu,-,52u - 52u,7.68,7.36,NaN
325,štefanija,novosel,37u - 42u,-,7.64,7.17,NaN
326,anja,mueller,43u - 56u,-,7.58,7.29,0.29
327,regolo,nucci,51u - 59u,-,7.53,7.02,NaN
328,nebechi,ekechukwu,-,37u - 39u,7.78,7.39,0.39
329,satsita,batukayev,-,42u - 42u,7.63,7.25,0.38
330,timothy,cotton,-,26u - 25u,7.92,7.52,0.90
331,bjørnar,nilsen,-,36u - 33u,7.99,7.70,NaN
332,vivien,zsinkó,30u - 38u,-,8.35,7.92,NaN
333,genet,fesahaye,25u - 35u,-,7.73,7.36,0.37
334,borna,šlezinger,-,42u - 41u,7.55,7.18,NaN
335,mary,adams,-,32u - 33u,7.65,7.26,NaN
336,blanka,jurković,31u - 43u,-,7.77,7.33,NaN
337,joseph,tucker,48u - 56u,-,7.67,7.30,0.37
338,christopher,woodward,-,55u - 51u,7.51,7.06,0.95
339,robert,maslov,55u - 68u,-,7.65,7.35,0.30
340,maret,sultygov,-,26u - 23u,7.67,7.30,NaN
341,ella,lund,38u - 47u,-,7.57,7.21,0.36
342,fakhri,fakhoury,39u - 50u,-,7.83,7.39,NaN
343,žarka,rap,35u - 48u,-,7.54,7.15,NaN
344,lixue,hsueh,-,22u - 23u,9.21,8.80,0.91
345,rovzan,kishiev,32u - 37u,-,7.75,7.41,0.34
346,jakob,jakobsen,-,28u - 26u,7.96,7.51,0.95
347,bernd,schneider,48u - 56u,-,7.74,7.44,0.30
348,berta,napolitani,-,42u - 44u,7.68,7.21,NaN
349,armina,sauvé,36u - 46u,-,7.86,7.40,NaN

In [159]:
patients

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi
0,1,female,Zoe,Wellish,576 Brown Bear Drive,Rancho California,California,92390.0,United States,951-719-9170ZoeWellish@superrito.com,7/10/1976,121.7,66,19.6
1,2,female,Pamela,Hill,2370 University Hill Road,Armstrong,Illinois,61812.0,United States,PamelaSHill@cuvox.de+1 (217) 569-3204,4/3/1967,118.8,66,19.2
2,3,male,Jae,Debord,1493 Poling Farm Road,York,Nebraska,68467.0,United States,402-363-6804JaeMDebord@gustr.com,2/19/1980,177.8,71,24.8
3,4,male,Liêm,Phan,2335 Webster Street,Woodbridge,NJ,7095.0,United States,PhanBaLiem@jourrapide.com+1 (732) 636-8246,7/26/1951,220.9,70,31.7
4,5,male,Tim,Neudorf,1428 Turkey Pen Lane,Dothan,AL,36303.0,United States,334-515-7487TimNeudorf@cuvox.de,2/18/1928,192.3,27,26.1
5,6,male,Rafael,Costa,1140 Willis Avenue,Daytona Beach,Florida,32114.0,United States,386-334-5237RafaelCardosoCosta@gustr.com,8/31/1931,183.9,70,26.4
6,7,female,Mary,Adams,3145 Sheila Lane,Burbank,NV,84728.0,United States,775-533-5933MaryBAdams@einrot.com,11/19/1969,146.3,65,24.3
7,8,female,Xiuxiu,Chang,2687 Black Oak Hollow Road,Morgan Hill,CA,95037.0,United States,XiuxiuChang@einrot.com1 408 778 3236,8/13/1958,158.0,60,30.9
8,9,male,Dsvid,Gustafsson,1790 Nutter Street,Kansas City,MO,64105.0,United States,816-265-9578DavidGustafsson@armyspy.com,3/6/1937,163.9,66,26.5
9,10,female,Sophie,Cabrera,3303 Anmoore Road,New York,New York,10011.0,United States,SophieCabreraIbarra@teleworm.us1 718 795 9124,12/3/1930,194.7,64,33.4
10,11,female,Sandy,Gunnarsson,87 Wood Duck Drive,Rudyard,MI,49780.0,United States,906-478-8949SandyGunnarsson@dayrep.com,7/16/1974,199.3,62,36.4
11,12,male,Abdul-Nur,Isa,1092 Farm Meadow Drive,Brentwood,TN,37027.0,United States,Abdul-NurMummarIsa@rhyta.com1 931 207 0839,2/3/1954,238.7,73,31.5
12,13,male,Omeokachie,Ibeamaka,2544 Worley Avenue,Lynchburg,VA,24504.0,United States,OmeokachieIbeamaka@einrot.com434-509-2614,8/5/1957,224.2,69,33.1
13,14,female,Anenechi,Chidi,826 Broad Street,Birmingham,AL,35203.0,United States,AnenechiChidi@armyspy.com+1 (205) 417-8095,3/7/1961,228.4,67,35.8
14,15,female,Asia,Woźniak,4970 Heather Sees Way,Tulsa,OK,74105.0,United States,AsiaWozniak@rhyta.com918-712-3469,8/15/1997,112.0,65,18.6
15,16,male,Søren,Lund,2438 Shady Pines Drive,Kingsport,VA,37660.0,United States,276-225-1955SrenFLund@gustr.com,8/23/1922,201.5,64,34.6
16,17,female,Tám,Liễu,2152 Heritage Road,Fresno,California,93706.0,United States,LieuThiThuTam@dayrep.com1 559 765 7836,11/14/1952,183.9,61,34.7
17,18,female,Roxanne,Andreyeva,2103 Edington Drive,Smyrna,GA,30082.0,United States,RoxanneAndreyeva@armyspy.com678-829-8578,7/24/1922,129.1,60,25.2
18,19,male,William,Oates,441 Tibbs Avenue,Ekalaka,MT,59324.0,United States,406-775-2696WilliamVOates@armyspy.com,9/4/1949,202.2,64,34.7
19,20,male,Zak,Kelly,994 Hill Croft Farm Road,Oroville,California,95966.0,United States,ZakKelly@rhyta.com1 530 532 8397,12/13/1988,208.8,70,30.0
20,21,female,Sofia,Karlsen,2931 Romano Street,Whitman,MA,2382.0,United States,SofiaTKarlsen@teleworm.us1 781 447 1763,9/24/1934,153.1,66,24.7
21,22,male,Samúel,Guðbrandsson,1904 Granville Lane,Elmsford,NJ,10523.0,United States,973-445-5341SamuelGubrandsson@teleworm.us,4/12/1983,223.7,69,33.0
22,23,male,Manchu,Su,1092 Deans Lane,Pleasantville,NY,10570.0,United States,914-745-6108ManchuSu@einrot.com,1/19/1936,130.7,65,21.7
23,24,male,Lovre,Galić,4941 Marion Drive,Winter Haven,Florida,33830.0,United States,LovreGalic@gustr.com1 813 355 9476,5/26/1960,222.9,66,36.0
24,25,male,Jakob,Jakobsen,648 Old Dear Lane,Port Jervis,New York,12771.0,United States,JakobCJakobsen@einrot.com+1 (845) 858-7707,8/1/1985,155.8,67,24.4
25,26,male,Gregor,Bole,922 Chapmans Lane,Albuquerque,NM,87109.0,United States,GregorBole@gustr.com505-828-4955,6/19/1922,180.8,67,28.3
26,27,female,Ella,Lund,1207 Garfield Road,Peoria,IL,61602.0,United States,309-671-8852EllaLund@armyspy.com,12/19/1933,144.8,61,27.4
27,28,male,Joseph,Tucker,4982 Wood Street,Venice,LA,70091.0,United States,985-814-7603JosephNTucker@rhyta.com,4/10/1959,175.8,72,23.8
28,29,male,Robert,Wolf,2386 Linda Street,Fort Washington,PA,19034.0,United States,RobertWolf@fleckens.hu1 267 895 7462,6/26/1937,206.6,70,29.6
29,30,male,Jake,Jakobsen,648 Old Dear Lane,Port Jervis,New York,12771.0,United States,JakobCJakobsen@einrot.com+1 (845) 858-7707,8/1/1985,155.8,67,24.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
473,474,female,Kate,Wilkinson,664 Lyon Avenue,South Boston,MA,2127.0,United States,KateWilkinson@armyspy.com1 508 905 2371,7/18/1998,175.3,65,29.2
474,475,female,Esperanza,Labrosse,1370 Flint Street,Atlanta,GA,30303.0,United States,EsperanzaLabrosse@armyspy.com678-263-3564,10/7/1961,181.5,63,32.1
475,476,male,Malik,Vaneker,1270 Haul Road,Mountain View,California,94041.0,United States,MalikVaneker@superrito.com650-962-7179,9/25/1953,214.4,67,33.6
476,477,female,Berta,Napolitani,1815 Garrett Street,Philadelphia,PA,19108.0,United States,267-972-3749BertaNapolitani@rhyta.com,12/2/1958,153.3,63,27.2
477,478,male,Juliusz,Majewski,4435 Poe Road,Florence,SC,29501.0,United States,JuliuszMajewski@superrito.com+1 (843) 212-6421,9/29/1966,212.1,69,31.3
478,479,female,Edelma,Villalpando,312 Jim Rosa Lane,San Jose,CA,95134.0,United States,EdelmaVillalpandoSantillan@teleworm.us+1 (415)...,6/24/1977,109.6,63,19.4
479,480,male,Tapa,Arsanukayev,4720 Gordon Street,Ontario,California,91762.0,United States,TapaArsanukayev@dayrep.com1 909 458 2515,9/15/1955,220.0,65,36.6
480,481,male,Nasser,Mansour,547 Weekley Street,San Antonio,TX,78212.0,United States,NasserMazinMansour@fleckens.hu1 210 326 5509,3/25/1938,183.5,66,29.6
481,482,male,Michael,Kristensen,1614 Heather Sees Way,Tulsa,OK,74116.0,United States,MichaelKristensen@gustr.com1 918 706 2776,8/10/1930,154.7,65,25.7
482,483,male,Diogo,Souza,4033 White Avenue,Corpus Christi,TX,78401.0,United States,361-693-4960DiogoBarrosSouza@jourrapide.com,3/3/1945,220.0,65,36.6
483,484,female,Angel,Grant,990 Melville Street,Memphis,TN,38118.0,United States,731-577-0292AngelGrant@fleckens.hu,8/14/1987,123.9,61,23.4
484,485,male,Placido,Udinesi,1094 Jones Avenue,Greensboro,NC,28716.0,United States,336-697-2005PlacidoUdinesi@dayrep.com,5/31/1934,175.8,65,29.3
485,486,male,Trifon,Izmailov,3697 Drainer Avenue,Fort Walton Beach,FL,32548.0,United States,TrifonIzmailov@fleckens.hu1 850 659 0417,2/15/1973,255.9,74,32.9
486,487,male,Samuel,Blix,3488 Clair Street,Waco,TX,76706.0,United States,254-681-4504SamuelBlix@dayrep.com,7/6/1983,211.4,74,27.1
487,488,male,Ivar,Löfgren,1346 Nicholas Street,Ottawa,KS,66067.0,United States,IvarLofgren@armyspy.com1 785 229 1188,11/7/1962,242.4,77,28.7
488,489,male,Mika,Martinsson,962 George Street,Ocala,Florida,34471.0,United States,352-453-4601MikaMartinsson@armyspy.com,1/27/1970,165.0,67,25.8
489,490,female,Jasmine,Sykes,2607 Water Street,Lafayette,California,94549.0,United States,JasmineSykes@jourrapide.com925-283-5425,12/1/1988,187.2,63,33.2
490,491,male,Jackson,Addison,1160 Taylor Street,New Rochelle,New York,10801.0,United States,914-636-9304JacksonAddison@armyspy.com,5/29/1953,192.7,69,28.5
491,492,female,Vanessa,Ferguson,241 Freshour Circle,San Antonio,TX,78205.0,United States,210-222-8684VanessaFerguson@jourrapide.com,9/21/1950,149.8,67,23.5
492,493,male,Poldi,Tar,3958 Liberty Avenue,Burbank,California,91505.0,United States,714-496-2264TarPoldi@superrito.com,5/23/1970,184.6,70,26.5
493,494,female,Fen,Chin,1826 Poplar Chase Lane,Boise,ID,83702.0,United States,FenChin@gustr.com+1 (208) 388-1065,3/18/1997,195.1,68,29.7
494,495,female,Sirkka,Piirainen,4102 Ritter Avenue,Roseville,MI,48066.0,United States,SirkkaPiirainen@teleworm.us+1 (586) 790-0975,1/16/1942,126.3,67,19.8
495,496,male,Hajime,Tsukada,4111 Thunder Road,San Mateo,CA,94403.0,United States,650-570-4896HajimeTsukada@dayrep.com,9/5/1972,168.1,66,27.1
496,497,male,Alexander,Hueber,3868 Freed Drive,Stockton,California,95204.0,United States,AlexanderHueber@jourrapide.com1 209 762 2320,9/12/1942,194.0,72,26.3
497,498,male,Masataka,Murakami,1179 Patton Lane,Tulsa,OK,74116.0,United States,MasatakaMurakami@einrot.com+1 (918) 984-9171,8/19/1937,155.1,72,21.0
498,499,male,Mustafa,Lindström,2530 Victoria Court,Milton Mills,ME,3852.0,United States,207-477-0579MustafaLindstrom@jourrapide.com,4/10/1959,181.1,72,24.6
499,500,male,Ruman,Bisliev,494 Clarksburg Park Road,Sedona,AZ,86341.0,United States,928-284-4492RumanBisliev@gustr.com,3/26/1948,239.6,70,34.4
500,501,female,Jinke,de Keizer,649 Nutter Street,Overland Park,MO,64110.0,United States,816-223-6007JinkedeKeizer@teleworm.us,1/13/1971,171.2,67,26.8
501,502,female,Chidalu,Onyekaozulu,3652 Boone Crockett Lane,Seattle,WA,98109.0,United States,ChidaluOnyekaozulu@jourrapide.com1 360 443 2060,2/13/1952,176.9,67,27.7
502,503,male,Pat,Gersten,2778 North Avenue,Burr,Nebraska,68324.0,United States,PatrickGersten@rhyta.com402-848-4923,5/3/1954,138.2,71,19.3

In [160]:
treatment

,given_name,surname,auralin,novodra,hba1c_start,hba1c_end,hba1c_change
0,veronika,jindrová,41u - 48u,-,7.63,7.20,NaN
1,elliot,richardson,-,40u - 45u,7.56,7.09,0.97
2,yukitaka,takenaka,-,39u - 36u,7.68,7.25,NaN
3,skye,gormanston,33u - 36u,-,7.97,7.62,0.35
4,alissa,montez,-,33u - 29u,7.78,7.46,0.32
5,jasmine,sykes,-,42u - 44u,7.56,7.18,0.38
6,sophia,haugen,37u - 42u,-,7.65,7.27,0.38
7,eddie,archer,31u - 38u,-,7.89,7.55,0.34
8,saber,ménard,-,54u - 54u,8.08,7.70,NaN
9,asia,woźniak,30u - 36u,-,7.76,7.37,NaN
10,joseph,day,29u - 36u,-,7.70,7.19,NaN
11,kristiina,hyypiä,-,36u - 38u,7.87,7.49,0.38
12,roxanne,andreyeva,29u - 38u,-,9.54,9.14,NaN
13,gregor,bole,-,47u - 45u,7.61,7.16,0.95
14,simone,baumgaertner,27u - 37u,-,7.74,7.30,NaN
15,enco,žibrik,55u - 68u,-,7.78,7.34,NaN
16,camilla,zaitseva,28u - 37u,-,7.53,7.13,NaN
17,gina,cain,-,36u - 36u,7.88,7.40,0.98
18,addolorata,lombardi,-,49u - 46u,7.75,7.33,NaN
19,khalid,johnsrud,-,54u - 54u,8.35,7.94,NaN
20,mile,stanić,-,47u - 48u,7.66,7.24,0.92
21,tekla,walczak,29u - 39u,-,7.61,7.29,0.32
22,brancaleone,russo,53u - 60u,-,8.61,8.18,NaN
23,chiemela,tobeolisa,-,43u - 47u,7.59,7.17,NaN
24,isac,berg,31u - 41u,-,9.68,9.29,0.39
25,benoît,bonami,-,44u - 43u,9.82,9.40,0.92
26,suhaim,rahal,-,49u - 47u,7.94,7.50,0.94
27,mizuki,iwata,-,45u - 46u,7.70,7.23,0.97
28,clinton,miller,42u - 51u,-,7.79,7.40,0.39
29,eugene,mironov,42u - 49u,-,7.81,7.48,0.33
...,...,...,...,...,...,...,...
250,chen,yao,-,56u - 57u,7.90,7.51,0.39
251,aksel,vestergaard,-,42u - 38u,9.62,9.29,NaN
252,ellen,luman,-,40u - 39u,9.27,8.77,0.50
253,albino,schiavone,35u - 43u,-,7.56,7.15,NaN
254,jose,combs,-,39u - 36u,7.89,7.42,NaN
255,jia li,teng,48u - 54u,-,7.66,7.32,0.34
256,ilija,horvat,42u - 50u,-,7.77,7.38,0.39
257,mathilde,nørgaard,-,27u - 28u,8.50,8.10,0.90
258,csilla,herczegh,-,43u - 46u,7.71,7.27,NaN
259,aaliyah,rice,-,31u - 31u,7.64,7.33,0.31
260,david,beauvais,-,26u - 23u,7.87,7.47,NaN
261,caroline,shuler,-,50u - 54u,7.63,7.27,NaN
262,alex,crawford,51u - 62u,-,7.69,7.30,0.39
263,rebecca,jephcott,53u - 63u,-,7.96,7.57,0.39
264,chukwumoge,ogochukwu,-,41u - 39u,7.95,7.56,0.39
265,fearne,mcgregor,-,27u - 29u,7.83,7.48,0.35
266,ursula,freud,42u - 54u,-,7.75,7.46,0.29
267,leon,scholz,-,38u - 32u,7.72,7.29,0.93
268,yasmin,araujo,-,51u - 54u,7.82,7.36,0.96
269,hiromu,horikawa,-,47u - 46u,7.77,7.28,NaN
270,mika,martinsson,34u - 43u,-,7.50,7.17,0.33
271,leo,vieira,-,30u - 33u,7.74,7.36,NaN
272,steven,roy,-,41u - 43u,7.87,7.43,0.94
273,kate,wilkinson,36u - 39u,-,7.72,7.20,NaN
274,naja,enoksen,43u - 50u,-,7.98,7.59,NaN
275,albina,zetticci,45u - 51u,-,7.93,7.73,0.20
276,john,teichelmann,-,49u - 49u,7.90,7.58,NaN
277,mathea,lillebø,23u - 36u,-,9.04,8.67,0.37
278,vallie,prince,31u - 38u,-,7.64,7.28,0.36
279,samúel,guðbrandsson,53u - 56u,-,8.00,7.64,0.36

In [161]:
adverse

     given_name     surname           adverse_reaction
0         berta  napolitani  injection site discomfort
1          lena        baer               hypoglycemia
2        joseph         day               hypoglycemia
3        flavia  fiorentino                      cough
4       manouck     wubbels          throat irritation
5       jasmine       sykes               hypoglycemia
6        louise     johnson               hypoglycemia
7       albinca     komavec               hypoglycemia
8           noe      aranda               hypoglycemia
9         sofia   hermansen  injection site discomfort
10        tegan     johnson                   headache
11         abel     yonatan                      cough
12    abdul-nur         isa               hypoglycemia
13         leon      scholz  injection site discomfort
14     gabriele     saenger               hypoglycemia
15       jia li        teng                     nausea
16        jakob    jakobsen               hypoglycemia
17  christopher    woodward                     nausea
18          ole    petersen               hypoglycemia
19       finley    chandler                   headache
20     anenechi       chidi               hypoglycemia
21     miłosław  wiśniewski  injection site discomfort
22        lixue       hsueh  injection site discomfort
23        merci      leroux               hypoglycemia
24         kang         mai  injection site discomfort
25       elliot  richardson               hypoglycemia
26      clinton      miller          throat irritation
27       idalia       moore               hypoglycemia
28       xiuxiu       chang               hypoglycemia
29         alex    crawford               hypoglycemia
30       monika      lončar               hypoglycemia
31       steven         roy                   headache
32      cecilie      nilsen               hypoglycemia
33    krisztina      magyar               hypoglycemia

In [162]:
patients.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 503 entries, 0 to 502
Data columns (total 14 columns):
patient_id      503 non-null int64
assigned_sex    503 non-null object
given_name      503 non-null object
surname         503 non-null object
address         491 non-null object
city            491 non-null object
state           491 non-null object
zip_code        491 non-null float64
country         491 non-null object
contact         491 non-null object
birthdate       503 non-null object
weight          503 non-null float64
height          503 non-null int64
bmi             503 non-null float64
dtypes: float64(3), int64(2), object(9)
memory usage: 55.1+ KB

In [163]:
treatment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 280 entries, 0 to 279
Data columns (total 7 columns):
given_name      280 non-null object
surname         280 non-null object
auralin         280 non-null object
novodra         280 non-null object
hba1c_start     280 non-null float64
hba1c_end       280 non-null float64
hba1c_change    171 non-null float64
dtypes: float64(3), object(4)
memory usage: 15.4+ KB

In [164]:
adverse.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 3 columns):
given_name          34 non-null object
surname             34 non-null object
adverse_reaction    34 non-null object
dtypes: object(3)
memory usage: 896.0+ bytes

In [165]:
patients[patients['address'].isnull()]

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi
209,210,female,Lalita,Eldarkhanov,NaN,NaN,NaN,NaN,NaN,NaN,8/14/1950,143.4,62,26.2
219,220,male,Mỹ,Quynh,NaN,NaN,NaN,NaN,NaN,NaN,4/9/1978,237.8,69,35.1
230,231,female,Elisabeth,Knudsen,NaN,NaN,NaN,NaN,NaN,NaN,9/23/1976,165.9,63,29.4
234,235,female,Martina,Tománková,NaN,NaN,NaN,NaN,NaN,NaN,4/7/1936,199.5,65,33.2
242,243,male,John,O'Brian,NaN,NaN,NaN,NaN,NaN,NaN,2/25/1957,205.3,74,26.4
249,250,male,Benjamin,Mehler,NaN,NaN,NaN,NaN,NaN,NaN,10/30/1951,146.5,69,21.6
257,258,male,Jin,Kung,NaN,NaN,NaN,NaN,NaN,NaN,5/17/1995,231.7,69,34.2
264,265,female,Wafiyyah,Asfour,NaN,NaN,NaN,NaN,NaN,NaN,11/3/1989,158.6,63,28.1
269,270,female,Flavia,Fiorentino,NaN,NaN,NaN,NaN,NaN,NaN,10/9/1937,175.2,61,33.1
278,279,female,Generosa,Cabán,NaN,NaN,NaN,NaN,NaN,NaN,12/16/1962,124.3,69,18.4
286,287,male,Lewis,Webb,NaN,NaN,NaN,NaN,NaN,NaN,4/1/1979,155.3,68,23.6
296,297,female,Chỉ,Lâm,NaN,NaN,NaN,NaN,NaN,NaN,5/14/1990,181.1,63,32.1

In [166]:
patients.describe()

       patient_id      zip_code      weight      height         bmi
count  503.000000    491.000000  503.000000  503.000000  503.000000
mean   252.000000  49084.118126  173.434990   66.634195   27.483897
std    145.347859  30265.807442   33.916741    4.411297    5.276438
min      1.000000   1002.000000   48.800000   27.000000   17.100000
25%    126.500000  21920.500000  149.300000   63.000000   23.300000
50%    252.000000  48057.000000  175.300000   67.000000   27.200000
75%    377.500000  75679.000000  199.500000   70.000000   31.750000
max    503.000000  99701.000000  255.900000   79.000000   37.700000

In [167]:
treatment.describe()

       hba1c_start   hba1c_end  hba1c_change
count   280.000000  280.000000    171.000000
mean      7.985929    7.589286      0.546023
std       0.568638    0.569672      0.279555
min       7.500000    7.010000      0.200000
25%       7.660000    7.270000      0.340000
50%       7.800000    7.420000      0.380000
75%       7.970000    7.570000      0.920000
max       9.950000    9.580000      0.990000

In [168]:
patients.sample(5)

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi
47,48,female,Ana,Correia,1495 Post Farm Road,Atlanta,GA,30337.0,United States,404-289-1766AnaSousaCorreia@rhyta.com,11/4/1962,186.6,65,31.0
412,413,male,Finlay,Sheppard,4571 Walnut Hill Drive,Portland,OH,45204.0,United States,FinlaySheppard@fleckens.hu+1 (513) 297-6359,6/16/1948,161.3,70,23.1
154,155,female,Maya,Isaksson,1333 Comfort Court,Madison,WI,53711.0,United States,MayaIsaksson@jourrapide.com1 608 277 0146,7/14/1959,137.7,67,21.6
295,296,male,Albino,Schiavone,3113 Timber Ridge Road,Sacramento,California,95814.0,United States,AlbinoSchiavone@fleckens.hu1 916 817 9960,6/30/1928,180.0,67,28.2
97,98,male,Patrick,Gersten,2778 North Avenue,Burr,NE,68324.0,United States,PatrickGersten@rhyta.com402-848-4923,5/3/1954,138.2,71,19.3

In [169]:
patients[patients['address'].duplicated()]

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi
29,30,male,Jake,Jakobsen,648 Old Dear Lane,Port Jervis,New York,12771.0,United States,JakobCJakobsen@einrot.com+1 (845) 858-7707,8/1/1985,155.8,67,24.4
219,220,male,Mỹ,Quynh,NaN,NaN,NaN,NaN,NaN,NaN,4/9/1978,237.8,69,35.1
229,230,male,John,Doe,123 Main Street,New York,NY,12345.0,United States,johndoe@email.com1234567890,1/1/1975,180.0,72,24.4
230,231,female,Elisabeth,Knudsen,NaN,NaN,NaN,NaN,NaN,NaN,9/23/1976,165.9,63,29.4
234,235,female,Martina,Tománková,NaN,NaN,NaN,NaN,NaN,NaN,4/7/1936,199.5,65,33.2
237,238,male,John,Doe,123 Main Street,New York,NY,12345.0,United States,johndoe@email.com1234567890,1/1/1975,180.0,72,24.4
242,243,male,John,O'Brian,NaN,NaN,NaN,NaN,NaN,NaN,2/25/1957,205.3,74,26.4
244,245,male,John,Doe,123 Main Street,New York,NY,12345.0,United States,johndoe@email.com1234567890,1/1/1975,180.0,72,24.4
249,250,male,Benjamin,Mehler,NaN,NaN,NaN,NaN,NaN,NaN,10/30/1951,146.5,69,21.6
251,252,male,John,Doe,123 Main Street,New York,NY,12345.0,United States,johndoe@email.com1234567890,1/1/1975,180.0,72,24.4
257,258,male,Jin,Kung,NaN,NaN,NaN,NaN,NaN,NaN,5/17/1995,231.7,69,34.2
264,265,female,Wafiyyah,Asfour,NaN,NaN,NaN,NaN,NaN,NaN,11/3/1989,158.6,63,28.1
269,270,female,Flavia,Fiorentino,NaN,NaN,NaN,NaN,NaN,NaN,10/9/1937,175.2,61,33.1
277,278,male,John,Doe,123 Main Street,New York,NY,12345.0,United States,johndoe@email.com1234567890,1/1/1975,180.0,72,24.4
278,279,female,Generosa,Cabán,NaN,NaN,NaN,NaN,NaN,NaN,12/16/1962,124.3,69,18.4
282,283,female,Sandy,Taylor,2476 Fulton Street,Rainelle,WV,25962.0,United States,304-438-2648SandraCTaylor@dayrep.com,10/23/1960,206.1,64,35.4
286,287,male,Lewis,Webb,NaN,NaN,NaN,NaN,NaN,NaN,4/1/1979,155.3,68,23.6
296,297,female,Chỉ,Lâm,NaN,NaN,NaN,NaN,NaN,NaN,5/14/1990,181.1,63,32.1
502,503,male,Pat,Gersten,2778 North Avenue,Burr,Nebraska,68324.0,United States,PatrickGersten@rhyta.com402-848-4923,5/3/1954,138.2,71,19.3

### Quality

[Completeness, Validity, Accuracy, Consistency]

#### `Patients`

- Zip code col is stored in decimal format[V]
- Certain zip codes of 4 digits[V] 
- For the state col sometimes full names are use and other times short forms are used[IC]
- Missing values for contact details of 12 patients[C]
- Incorrect data types for assigned_sex and birthdate cols[?]
- Erroneous data for weights and heights[Accuracy]
- Inconsistent way of storing phone numbers in contact col[IC]
- Duplicate and not useful data in dataset[IC]

#### `Treatments`

- hba1c_change col has missing values[C]
- Novodra and Auralin cols has u attached to numbers[V]
- Only 280 rows are there, instead of 350[C]
- Name and surname col is in lower case[IC]
- Incorrect data type for auralin and novadra cols[V]
- hba1c_change 9 instead of 4[Accuracy]
- use of dashes instead of Nan in aurolin and novodra cols[IC]

#### `Adverse Reactions`

- Name and surname col is in lower case[IC]

### Tidiness

#### `Patients`

- Phone and email together in one col i.e. contact

#### `Treatments`

- 3 variables stored in auralin and novodra cols

#### `Adverse Reactions`

- No point of using this table


# Cleaning Data

You should follow the order provided below:

- Completeness Issues
- Tidiness Issues
- Remaining Data quality issues like validity, accuracy and consistency

### Steps involved in Data cleaning

- Define
- Code 
- Test

`Always make sure to create a copy of your pandas dataframe before you start the cleaning process`

In [170]:
# Creating copies

patients_copy=patients.copy()
treatment_copy=treatment.copy()
adverse_copy=adverse.copy()
treatment_cut_copy=treatment_cut.copy()

In [171]:
patients_copy[patients_copy['address'].isnull()]

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi
209,210,female,Lalita,Eldarkhanov,NaN,NaN,NaN,NaN,NaN,NaN,8/14/1950,143.4,62,26.2
219,220,male,Mỹ,Quynh,NaN,NaN,NaN,NaN,NaN,NaN,4/9/1978,237.8,69,35.1
230,231,female,Elisabeth,Knudsen,NaN,NaN,NaN,NaN,NaN,NaN,9/23/1976,165.9,63,29.4
234,235,female,Martina,Tománková,NaN,NaN,NaN,NaN,NaN,NaN,4/7/1936,199.5,65,33.2
242,243,male,John,O'Brian,NaN,NaN,NaN,NaN,NaN,NaN,2/25/1957,205.3,74,26.4
249,250,male,Benjamin,Mehler,NaN,NaN,NaN,NaN,NaN,NaN,10/30/1951,146.5,69,21.6
257,258,male,Jin,Kung,NaN,NaN,NaN,NaN,NaN,NaN,5/17/1995,231.7,69,34.2
264,265,female,Wafiyyah,Asfour,NaN,NaN,NaN,NaN,NaN,NaN,11/3/1989,158.6,63,28.1
269,270,female,Flavia,Fiorentino,NaN,NaN,NaN,NaN,NaN,NaN,10/9/1937,175.2,61,33.1
278,279,female,Generosa,Cabán,NaN,NaN,NaN,NaN,NaN,NaN,12/16/1962,124.3,69,18.4
286,287,male,Lewis,Webb,NaN,NaN,NaN,NaN,NaN,NaN,4/1/1979,155.3,68,23.6
296,297,female,Chỉ,Lâm,NaN,NaN,NaN,NaN,NaN,NaN,5/14/1990,181.1,63,32.1

## a. Completeness Issues

- Missing values for contact details of 12 patients
- Only 280 rows are there, instead of 350
- hba1c_change col has missing values

#### Define

In [172]:
# Merge Treatment_copy and Treatment_cut

In [173]:
# Subtract hba1c_start from hba1c_end to get hba1c_change

#### Code

In [174]:
treatments_final=pd.concat([treatment_copy, treatment_cut_copy], ignore_index=True, sort=False)

In [175]:
treatments_final

,given_name,surname,auralin,novodra,hba1c_start,hba1c_end,hba1c_change
0,veronika,jindrová,41u - 48u,-,7.63,7.20,NaN
1,elliot,richardson,-,40u - 45u,7.56,7.09,0.97
2,yukitaka,takenaka,-,39u - 36u,7.68,7.25,NaN
3,skye,gormanston,33u - 36u,-,7.97,7.62,0.35
4,alissa,montez,-,33u - 29u,7.78,7.46,0.32
5,jasmine,sykes,-,42u - 44u,7.56,7.18,0.38
6,sophia,haugen,37u - 42u,-,7.65,7.27,0.38
7,eddie,archer,31u - 38u,-,7.89,7.55,0.34
8,saber,ménard,-,54u - 54u,8.08,7.70,NaN
9,asia,woźniak,30u - 36u,-,7.76,7.37,NaN
10,joseph,day,29u - 36u,-,7.70,7.19,NaN
11,kristiina,hyypiä,-,36u - 38u,7.87,7.49,0.38
12,roxanne,andreyeva,29u - 38u,-,9.54,9.14,NaN
13,gregor,bole,-,47u - 45u,7.61,7.16,0.95
14,simone,baumgaertner,27u - 37u,-,7.74,7.30,NaN
15,enco,žibrik,55u - 68u,-,7.78,7.34,NaN
16,camilla,zaitseva,28u - 37u,-,7.53,7.13,NaN
17,gina,cain,-,36u - 36u,7.88,7.40,0.98
18,addolorata,lombardi,-,49u - 46u,7.75,7.33,NaN
19,khalid,johnsrud,-,54u - 54u,8.35,7.94,NaN
20,mile,stanić,-,47u - 48u,7.66,7.24,0.92
21,tekla,walczak,29u - 39u,-,7.61,7.29,0.32
22,brancaleone,russo,53u - 60u,-,8.61,8.18,NaN
23,chiemela,tobeolisa,-,43u - 47u,7.59,7.17,NaN
24,isac,berg,31u - 41u,-,9.68,9.29,0.39
25,benoît,bonami,-,44u - 43u,9.82,9.40,0.92
26,suhaim,rahal,-,49u - 47u,7.94,7.50,0.94
27,mizuki,iwata,-,45u - 46u,7.70,7.23,0.97
28,clinton,miller,42u - 51u,-,7.79,7.40,0.39
29,eugene,mironov,42u - 49u,-,7.81,7.48,0.33
...,...,...,...,...,...,...,...
320,eufemio,rosario,-,37u - 40u,7.54,7.26,0.28
321,dalmacia,madrid,-,26u - 23u,7.67,7.21,0.96
322,daimy,tromp,-,40u - 45u,9.41,8.94,0.97
323,hans peter,radislav,42u - 53u,-,7.60,7.20,NaN
324,jeremy,montagu,-,52u - 52u,7.68,7.36,NaN
325,štefanija,novosel,37u - 42u,-,7.64,7.17,NaN
326,anja,mueller,43u - 56u,-,7.58,7.29,0.29
327,regolo,nucci,51u - 59u,-,7.53,7.02,NaN
328,nebechi,ekechukwu,-,37u - 39u,7.78,7.39,0.39
329,satsita,batukayev,-,42u - 42u,7.63,7.25,0.38
330,timothy,cotton,-,26u - 25u,7.92,7.52,0.90
331,bjørnar,nilsen,-,36u - 33u,7.99,7.70,NaN
332,vivien,zsinkó,30u - 38u,-,8.35,7.92,NaN
333,genet,fesahaye,25u - 35u,-,7.73,7.36,0.37
334,borna,šlezinger,-,42u - 41u,7.55,7.18,NaN
335,mary,adams,-,32u - 33u,7.65,7.26,NaN
336,blanka,jurković,31u - 43u,-,7.77,7.33,NaN
337,joseph,tucker,48u - 56u,-,7.67,7.30,0.37
338,christopher,woodward,-,55u - 51u,7.51,7.06,0.95
339,robert,maslov,55u - 68u,-,7.65,7.35,0.30
340,maret,sultygov,-,26u - 23u,7.67,7.30,NaN
341,ella,lund,38u - 47u,-,7.57,7.21,0.36
342,fakhri,fakhoury,39u - 50u,-,7.83,7.39,NaN
343,žarka,rap,35u - 48u,-,7.54,7.15,NaN
344,lixue,hsueh,-,22u - 23u,9.21,8.80,0.91
345,rovzan,kishiev,32u - 37u,-,7.75,7.41,0.34
346,jakob,jakobsen,-,28u - 26u,7.96,7.51,0.95
347,bernd,schneider,48u - 56u,-,7.74,7.44,0.30
348,berta,napolitani,-,42u - 44u,7.68,7.21,NaN
349,armina,sauvé,36u - 46u,-,7.86,7.40,NaN

In [176]:
treatments_final['hba1c_change']=treatments_final['hba1c_start']-treatments_final['hba1c_end']

#### Test

In [177]:
treatments_final.info()

treatments_final.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350 entries, 0 to 349
Data columns (total 7 columns):
given_name      350 non-null object
surname         350 non-null object
auralin         350 non-null object
novodra         350 non-null object
hba1c_start     350 non-null float64
hba1c_end       350 non-null float64
hba1c_change    350 non-null float64
dtypes: float64(3), object(4)
memory usage: 19.2+ KB

       hba1c_start   hba1c_end  hba1c_change
count   350.000000  350.000000    350.000000
mean      7.956343    7.560057      0.396286
std       0.545328    0.545456      0.059283
min       7.500000    7.010000      0.200000
25%       7.650000    7.270000      0.350000
50%       7.785000    7.400000      0.390000
75%       7.950000    7.557500      0.440000
max       9.950000    9.580000      0.540000

## b. Tidiness Issues

- Phone + email in contact col `patients`
- Novodra and Aurolin col `treatment`
- Merge the `adverse` table to `treatment` table

#### Define

In [178]:
# Phone and email in separate cols

In [179]:
# Merge the adverse table to treatment table

In [180]:
# Novodra and Aurolin using the melt function

#### Code

In [181]:
patients_1=patients_copy[patients_copy['address'].isnull()]
patients_copy.dropna(inplace=True)

In [182]:
emails=[]
numbers=[]
for i in patients_copy['contact']:
    pattern=re.compile(r'[a-zA-Z][a-zA-Z0-9.-]+[@][a-zA-Z0-9-]+\.[a-zA-Z0-9.-]+[a-zA-Z]')
    numbers.append(i.replace(pattern.findall(i)[0],''))
    emails.append(pattern.findall(i)[0])

In [183]:
patients_copy['Emails']=emails
patients_copy['Phone numbers']=numbers

patients_copy=pd.concat([patients_copy,patients_1]).reset_index()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  after removing the cwd from sys.path.

In [184]:
patients_copy=patients_copy.drop(columns=['index','contact'])

In [185]:
patients_copy

,Emails,Phone numbers,address,assigned_sex,birthdate,bmi,city,country,given_name,height,patient_id,state,surname,weight,zip_code
0,ZoeWellish@superrito.com,951-719-9170,576 Brown Bear Drive,female,7/10/1976,19.6,Rancho California,United States,Zoe,66,1,California,Wellish,121.7,92390.0
1,PamelaSHill@cuvox.de,+1 (217) 569-3204,2370 University Hill Road,female,4/3/1967,19.2,Armstrong,United States,Pamela,66,2,Illinois,Hill,118.8,61812.0
2,JaeMDebord@gustr.com,402-363-6804,1493 Poling Farm Road,male,2/19/1980,24.8,York,United States,Jae,71,3,Nebraska,Debord,177.8,68467.0
3,PhanBaLiem@jourrapide.com,+1 (732) 636-8246,2335 Webster Street,male,7/26/1951,31.7,Woodbridge,United States,Liêm,70,4,NJ,Phan,220.9,7095.0
4,TimNeudorf@cuvox.de,334-515-7487,1428 Turkey Pen Lane,male,2/18/1928,26.1,Dothan,United States,Tim,27,5,AL,Neudorf,192.3,36303.0
5,RafaelCardosoCosta@gustr.com,386-334-5237,1140 Willis Avenue,male,8/31/1931,26.4,Daytona Beach,United States,Rafael,70,6,Florida,Costa,183.9,32114.0
6,MaryBAdams@einrot.com,775-533-5933,3145 Sheila Lane,female,11/19/1969,24.3,Burbank,United States,Mary,65,7,NV,Adams,146.3,84728.0
7,XiuxiuChang@einrot.com,1 408 778 3236,2687 Black Oak Hollow Road,female,8/13/1958,30.9,Morgan Hill,United States,Xiuxiu,60,8,CA,Chang,158.0,95037.0
8,DavidGustafsson@armyspy.com,816-265-9578,1790 Nutter Street,male,3/6/1937,26.5,Kansas City,United States,Dsvid,66,9,MO,Gustafsson,163.9,64105.0
9,SophieCabreraIbarra@teleworm.us,1 718 795 9124,3303 Anmoore Road,female,12/3/1930,33.4,New York,United States,Sophie,64,10,New York,Cabrera,194.7,10011.0
10,SandyGunnarsson@dayrep.com,906-478-8949,87 Wood Duck Drive,female,7/16/1974,36.4,Rudyard,United States,Sandy,62,11,MI,Gunnarsson,199.3,49780.0
11,Abdul-NurMummarIsa@rhyta.com,1 931 207 0839,1092 Farm Meadow Drive,male,2/3/1954,31.5,Brentwood,United States,Abdul-Nur,73,12,TN,Isa,238.7,37027.0
12,OmeokachieIbeamaka@einrot.com,434-509-2614,2544 Worley Avenue,male,8/5/1957,33.1,Lynchburg,United States,Omeokachie,69,13,VA,Ibeamaka,224.2,24504.0
13,AnenechiChidi@armyspy.com,+1 (205) 417-8095,826 Broad Street,female,3/7/1961,35.8,Birmingham,United States,Anenechi,67,14,AL,Chidi,228.4,35203.0
14,AsiaWozniak@rhyta.com,918-712-3469,4970 Heather Sees Way,female,8/15/1997,18.6,Tulsa,United States,Asia,65,15,OK,Woźniak,112.0,74105.0
15,SrenFLund@gustr.com,276-225-1955,2438 Shady Pines Drive,male,8/23/1922,34.6,Kingsport,United States,Søren,64,16,VA,Lund,201.5,37660.0
16,LieuThiThuTam@dayrep.com,1 559 765 7836,2152 Heritage Road,female,11/14/1952,34.7,Fresno,United States,Tám,61,17,California,Liễu,183.9,93706.0
17,RoxanneAndreyeva@armyspy.com,678-829-8578,2103 Edington Drive,female,7/24/1922,25.2,Smyrna,United States,Roxanne,60,18,GA,Andreyeva,129.1,30082.0
18,WilliamVOates@armyspy.com,406-775-2696,441 Tibbs Avenue,male,9/4/1949,34.7,Ekalaka,United States,William,64,19,MT,Oates,202.2,59324.0
19,ZakKelly@rhyta.com,1 530 532 8397,994 Hill Croft Farm Road,male,12/13/1988,30.0,Oroville,United States,Zak,70,20,California,Kelly,208.8,95966.0
20,SofiaTKarlsen@teleworm.us,1 781 447 1763,2931 Romano Street,female,9/24/1934,24.7,Whitman,United States,Sofia,66,21,MA,Karlsen,153.1,2382.0
21,SamuelGubrandsson@teleworm.us,973-445-5341,1904 Granville Lane,male,4/12/1983,33.0,Elmsford,United States,Samúel,69,22,NJ,Guðbrandsson,223.7,10523.0
22,ManchuSu@einrot.com,914-745-6108,1092 Deans Lane,male,1/19/1936,21.7,Pleasantville,United States,Manchu,65,23,NY,Su,130.7,10570.0
23,LovreGalic@gustr.com,1 813 355 9476,4941 Marion Drive,male,5/26/1960,36.0,Winter Haven,United States,Lovre,66,24,Florida,Galić,222.9,33830.0
24,JakobCJakobsen@einrot.com,+1 (845) 858-7707,648 Old Dear Lane,male,8/1/1985,24.4,Port Jervis,United States,Jakob,67,25,New York,Jakobsen,155.8,12771.0
25,GregorBole@gustr.com,505-828-4955,922 Chapmans Lane,male,6/19/1922,28.3,Albuquerque,United States,Gregor,67,26,NM,Bole,180.8,87109.0
26,EllaLund@armyspy.com,309-671-8852,1207 Garfield Road,female,12/19/1933,27.4,Peoria,United States,Ella,61,27,IL,Lund,144.8,61602.0
27,JosephNTucker@rhyta.com,985-814-7603,4982 Wood Street,male,4/10/1959,23.8,Venice,United States,Joseph,72,28,LA,Tucker,175.8,70091.0
28,RobertWolf@fleckens.hu,1 267 895 7462,2386 Linda Street,male,6/26/1937,29.6,Fort Washington,United States,Robert,70,29,PA,Wolf,206.6,19034.0
29,JakobCJakobsen@einrot.com,+1 (845) 858-7707,648 Old Dear Lane,male,8/1/1985,24.4,Port Jervis,United States,Jake,67,30,New York,Jakobsen,155.8,12771.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
473,TrifonIzmailov@fleckens.hu,1 850 659 0417,3697 Drainer Avenue,male,2/15/1973,32.9,Fort Walton Beach,United States,Trifon,74,486,FL,Izmailov,255.9,32548.0
474,SamuelBlix@dayrep.com,254-681-4504,3488 Clair Street,male,7/6/1983,27.1,Waco,United States,Samuel,74,487,TX,Blix,211.4,76706.0
475,IvarLofgren@armyspy.com,1 785 229 1188,1346 Nicholas Street,male,11/7/1962,28.7,Ottawa,United States,Ivar,77,488,KS,Löfgren,242.4,66067.0
476,MikaMartinsson@armyspy.com,352-453-4601,962 George Street,male,1/27/1970,25.8,Ocala,United States,Mika,67,489,Florida,Martinsson,165.0,34471.0
477,JasmineSykes@jourrapide.com,925-283-5425,2607 Water Street,female,12/1/1988,33.2,Lafayette,United States,Jasmine,63,490,California,Sykes,187.2,94549.0
478,JacksonAddison@armyspy.com,914-636-9304,1160 Taylor Street,male,5/29/1953,28.5,New Rochelle,United States,Jackson,69,491,New York,Addison,192.7,10801.0
479,VanessaFerguson@jourrapide.com,210-222-8684,241 Freshour Circle,female,9/21/1950,23.5,San Antonio,United States,Vanessa,67,492,TX,Ferguson,149.8,78205.0
480,TarPoldi@superrito.com,714-496-2264,3958 Liberty Avenue,male,5/23/1970,26.5,Burbank,United States,Poldi,70,493,California,Tar,184.6,91505.0
481,FenChin@gustr.com,+1 (208) 388-1065,1826 Poplar Chase Lane,female,3/18/1997,29.7,Boise,United States,Fen,68,494,ID,Chin,195.1,83702.0
482,SirkkaPiirainen@teleworm.us,+1 (586) 790-0975,4102 Ritter Avenue,female,1/16/1942,19.8,Roseville,United States,Sirkka,67,495,MI,Piirainen,126.3,48066.0
483,HajimeTsukada@dayrep.com,650-570-4896,4111 Thunder Road,male,9/5/1972,27.1,San Mateo,United States,Hajime,66,496,CA,Tsukada,168.1,94403.0
484,AlexanderHueber@jourrapide.com,1 209 762 2320,3868 Freed Drive,male,9/12/1942,26.3,Stockton,United States,Alexander,72,497,California,Hueber,194.0,95204.0
485,MasatakaMurakami@einrot.com,+1 (918) 984-9171,1179 Patton Lane,male,8/19/1937,21.0,Tulsa,United States,Masataka,72,498,OK,Murakami,155.1,74116.0
486,MustafaLindstrom@jourrapide.com,207-477-0579,2530 Victoria Court,male,4/10/1959,24.6,Milton Mills,United States,Mustafa,72,499,ME,Lindström,181.1,3852.0
487,RumanBisliev@gustr.com,928-284-4492,494 Clarksburg Park Road,male,3/26/1948,34.4,Sedona,United States,Ruman,70,500,AZ,Bisliev,239.6,86341.0
488,JinkedeKeizer@teleworm.us,816-223-6007,649 Nutter Street,female,1/13/1971,26.8,Overland Park,United States,Jinke,67,501,MO,de Keizer,171.2,64110.0
489,ChidaluOnyekaozulu@jourrapide.com,1 360 443 2060,3652 Boone Crockett Lane,female,2/13/1952,27.7,Seattle,United States,Chidalu,67,502,WA,Onyekaozulu,176.9,98109.0
490,PatrickGersten@rhyta.com,402-848-4923,2778 North Avenue,male,5/3/1954,19.3,Burr,United States,Pat,71,503,Nebraska,Gersten,138.2,68324.0
491,NaN,NaN,NaN,female,8/14/1950,26.2,NaN,NaN,Lalita,62,210,NaN,Eldarkhanov,143.4,NaN
492,NaN,NaN,NaN,male,4/9/1978,35.1,NaN,NaN,Mỹ,69,220,NaN,Quynh,237.8,NaN
493,NaN,NaN,NaN,female,9/23/1976,29.4,NaN,NaN,Elisabeth,63,231,NaN,Knudsen,165.9,NaN
494,NaN,NaN,NaN,female,4/7/1936,33.2,NaN,NaN,Martina,65,235,NaN,Tománková,199.5,NaN
495,NaN,NaN,NaN,male,2/25/1957,26.4,NaN,NaN,John,74,243,NaN,O'Brian,205.3,NaN
496,NaN,NaN,NaN,male,10/30/1951,21.6,NaN,NaN,Benjamin,69,250,NaN,Mehler,146.5,NaN
497,NaN,NaN,NaN,male,5/17/1995,34.2,NaN,NaN,Jin,69,258,NaN,Kung,231.7,NaN
498,NaN,NaN,NaN,female,11/3/1989,28.1,NaN,NaN,Wafiyyah,63,265,NaN,Asfour,158.6,NaN
499,NaN,NaN,NaN,female,10/9/1937,33.1,NaN,NaN,Flavia,61,270,NaN,Fiorentino,175.2,NaN
500,NaN,NaN,NaN,female,12/16/1962,18.4,NaN,NaN,Generosa,69,279,NaN,Cabán,124.3,NaN
501,NaN,NaN,NaN,male,4/1/1979,23.6,NaN,NaN,Lewis,68,287,NaN,Webb,155.3,NaN
502,NaN,NaN,NaN,female,5/14/1990,32.1,NaN,NaN,Chỉ,63,297,NaN,Lâm,181.1,NaN

In [186]:
treatments_final=pd.melt(treatments_final, id_vars=['given_name', 'surname', 'hba1c_start', 'hba1c_end', 'hba1c_change'],
                           var_name='treatment', value_name='dose')

In [187]:
treatments_final=treatments_final[treatments_final['dose']!='-']

In [188]:
treatments_final['start'],treatments_final['end']=treatments_final['dose'].str.split('-').str

In [189]:
treatments_final.drop(columns={'dose'}, inplace=True)

In [190]:
treatments_final['start']=treatments_final['start'].str.replace('u','')
treatments_final['end']=treatments_final['end'].str.replace('u','')

treatments_final['start']=treatments_final['start'].astype('int')
treatments_final['end']=treatments_final['end'].astype('int')

treatments_final.reset_index(drop=True,inplace=True)

#### Test

In [191]:
treatments_final.head()

,given_name,surname,hba1c_start,hba1c_end,hba1c_change,treatment,start,end
0,veronika,jindrová,7.63,7.20,0.43,auralin,41,48
1,skye,gormanston,7.97,7.62,0.35,auralin,33,36
2,sophia,haugen,7.65,7.27,0.38,auralin,37,42
3,eddie,archer,7.89,7.55,0.34,auralin,31,38
4,asia,woźniak,7.76,7.37,0.39,auralin,30,36

In [192]:
treatments_final=treatments_final.merge(adverse_copy,how='left',on=['given_name','surname'],)

In [193]:
treatments_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 350 entries, 0 to 349
Data columns (total 9 columns):
given_name          350 non-null object
surname             350 non-null object
hba1c_start         350 non-null float64
hba1c_end           350 non-null float64
hba1c_change        350 non-null float64
treatment           350 non-null object
start               350 non-null int32
end                 350 non-null int32
adverse_reaction    35 non-null object
dtypes: float64(3), int32(2), object(4)
memory usage: 24.6+ KB

## c. Validity Issues
- zipcode in 4 digits in some places 
- zipcode in decimal format

In [194]:
patients_copy['zip_code']=patients_copy['zip_code'].astype('str')

patients_copy['zip_code']=patients_copy['zip_code'].str.replace('.0','',regex=False).str.pad(width=5,side='left',fillchar='0')


patients_copy['zip_code']

0      92390
1      61812
2      68467
3      07095
4      36303
5      32114
6      84728
7      95037
8      64105
9      10011
10     49780
11     37027
12     24504
13     35203
14     74105
15     37660
16     93706
17     30082
18     59324
19     95966
20     02382
21     10523
22     10570
23     33830
24     12771
25     87109
26     61602
27     70091
28     19034
29     12771
       ...
473    32548
474    76706
475    66067
476    34471
477    94549
478    10801
479    78205
480    91505
481    83702
482    48066
483    94403
484    95204
485    74116
486    03852
487    86341
488    64110
489    98109
490    68324
491    00nan
492    00nan
493    00nan
494    00nan
495    00nan
496    00nan
497    00nan
498    00nan
499    00nan
500    00nan
501    00nan
502    00nan
Name: zip_code, Length: 503, dtype: object

In [195]:
patients_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 503 entries, 0 to 502
Data columns (total 15 columns):
Emails           491 non-null object
Phone numbers    491 non-null object
address          491 non-null object
assigned_sex     503 non-null object
birthdate        503 non-null object
bmi              503 non-null float64
city             491 non-null object
country          491 non-null object
given_name       503 non-null object
height           503 non-null int64
patient_id       503 non-null int64
state            491 non-null object
surname          503 non-null object
weight           503 non-null float64
zip_code         503 non-null object
dtypes: float64(2), int64(2), object(11)
memory usage: 59.0+ KB

## d. Accuracy issues
- Erronoeus data for height and weight

In [196]:
patients_copy[patients_copy['height']<40]

,Emails,Phone numbers,address,assigned_sex,birthdate,bmi,city,country,given_name,height,patient_id,state,surname,weight,zip_code
4,TimNeudorf@cuvox.de,334-515-7487,1428 Turkey Pen Lane,male,2/18/1928,26.1,Dothan,United States,Tim,27,5,AL,Neudorf,192.3,36303

## Code

In [197]:
patients_copy.drop(index=4,inplace=True)

## test

In [198]:
patients_copy.head()

,Emails,Phone numbers,address,assigned_sex,birthdate,bmi,city,country,given_name,height,patient_id,state,surname,weight,zip_code
0,ZoeWellish@superrito.com,951-719-9170,576 Brown Bear Drive,female,7/10/1976,19.6,Rancho California,United States,Zoe,66,1,California,Wellish,121.7,92390
1,PamelaSHill@cuvox.de,+1 (217) 569-3204,2370 University Hill Road,female,4/3/1967,19.2,Armstrong,United States,Pamela,66,2,Illinois,Hill,118.8,61812
2,JaeMDebord@gustr.com,402-363-6804,1493 Poling Farm Road,male,2/19/1980,24.8,York,United States,Jae,71,3,Nebraska,Debord,177.8,68467
3,PhanBaLiem@jourrapide.com,+1 (732) 636-8246,2335 Webster Street,male,7/26/1951,31.7,Woodbridge,United States,Liêm,70,4,NJ,Phan,220.9,07095
5,RafaelCardosoCosta@gustr.com,386-334-5237,1140 Willis Avenue,male,8/31/1931,26.4,Daytona Beach,United States,Rafael,70,6,Florida,Costa,183.9,32114

## e. Inconsistency Issues
- For the state col sometimes full names are use and other times short forms are used
- Duplicate and not useful data in dataset
- Treatments name in small

# Code

In [199]:
treatments_final['given_name']=treatments_final['given_name'].str.capitalize()
treatments_final['surname']=treatments_final['surname'].str.capitalize()

In [200]:
treatments_final.drop_duplicates(inplace=True)
patients_copy.drop_duplicates(inplace=True)

In [201]:
patients_copy = patients_copy[["patient_id","given_name","surname","address","assigned_sex","birthdate","Emails","Phone numbers","height","bmi","weight","city","state","country","zip_code"]]

# #Test

In [202]:
treatments_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 349 entries, 0 to 349
Data columns (total 9 columns):
given_name          349 non-null object
surname             349 non-null object
hba1c_start         349 non-null float64
hba1c_end           349 non-null float64
hba1c_change        349 non-null float64
treatment           349 non-null object
start               349 non-null int32
end                 349 non-null int32
adverse_reaction    34 non-null object
dtypes: float64(3), int32(2), object(4)
memory usage: 24.5+ KB

In [203]:
patients_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 502 entries, 0 to 502
Data columns (total 15 columns):
patient_id       502 non-null int64
given_name       502 non-null object
surname          502 non-null object
address          490 non-null object
assigned_sex     502 non-null object
birthdate        502 non-null object
Emails           490 non-null object
Phone numbers    490 non-null object
height           502 non-null int64
bmi              502 non-null float64
weight           502 non-null float64
city             490 non-null object
state            490 non-null object
country          490 non-null object
zip_code         502 non-null object
dtypes: float64(2), int64(2), object(11)
memory usage: 62.8+ KB

In [204]:
patients_copy

,patient_id,given_name,surname,address,assigned_sex,birthdate,Emails,Phone numbers,height,bmi,weight,city,state,country,zip_code
0,1,Zoe,Wellish,576 Brown Bear Drive,female,7/10/1976,ZoeWellish@superrito.com,951-719-9170,66,19.6,121.7,Rancho California,California,United States,92390
1,2,Pamela,Hill,2370 University Hill Road,female,4/3/1967,PamelaSHill@cuvox.de,+1 (217) 569-3204,66,19.2,118.8,Armstrong,Illinois,United States,61812
2,3,Jae,Debord,1493 Poling Farm Road,male,2/19/1980,JaeMDebord@gustr.com,402-363-6804,71,24.8,177.8,York,Nebraska,United States,68467
3,4,Liêm,Phan,2335 Webster Street,male,7/26/1951,PhanBaLiem@jourrapide.com,+1 (732) 636-8246,70,31.7,220.9,Woodbridge,NJ,United States,07095
5,6,Rafael,Costa,1140 Willis Avenue,male,8/31/1931,RafaelCardosoCosta@gustr.com,386-334-5237,70,26.4,183.9,Daytona Beach,Florida,United States,32114
6,7,Mary,Adams,3145 Sheila Lane,female,11/19/1969,MaryBAdams@einrot.com,775-533-5933,65,24.3,146.3,Burbank,NV,United States,84728
7,8,Xiuxiu,Chang,2687 Black Oak Hollow Road,female,8/13/1958,XiuxiuChang@einrot.com,1 408 778 3236,60,30.9,158.0,Morgan Hill,CA,United States,95037
8,9,Dsvid,Gustafsson,1790 Nutter Street,male,3/6/1937,DavidGustafsson@armyspy.com,816-265-9578,66,26.5,163.9,Kansas City,MO,United States,64105
9,10,Sophie,Cabrera,3303 Anmoore Road,female,12/3/1930,SophieCabreraIbarra@teleworm.us,1 718 795 9124,64,33.4,194.7,New York,New York,United States,10011
10,11,Sandy,Gunnarsson,87 Wood Duck Drive,female,7/16/1974,SandyGunnarsson@dayrep.com,906-478-8949,62,36.4,199.3,Rudyard,MI,United States,49780
11,12,Abdul-Nur,Isa,1092 Farm Meadow Drive,male,2/3/1954,Abdul-NurMummarIsa@rhyta.com,1 931 207 0839,73,31.5,238.7,Brentwood,TN,United States,37027
12,13,Omeokachie,Ibeamaka,2544 Worley Avenue,male,8/5/1957,OmeokachieIbeamaka@einrot.com,434-509-2614,69,33.1,224.2,Lynchburg,VA,United States,24504
13,14,Anenechi,Chidi,826 Broad Street,female,3/7/1961,AnenechiChidi@armyspy.com,+1 (205) 417-8095,67,35.8,228.4,Birmingham,AL,United States,35203
14,15,Asia,Woźniak,4970 Heather Sees Way,female,8/15/1997,AsiaWozniak@rhyta.com,918-712-3469,65,18.6,112.0,Tulsa,OK,United States,74105
15,16,Søren,Lund,2438 Shady Pines Drive,male,8/23/1922,SrenFLund@gustr.com,276-225-1955,64,34.6,201.5,Kingsport,VA,United States,37660
16,17,Tám,Liễu,2152 Heritage Road,female,11/14/1952,LieuThiThuTam@dayrep.com,1 559 765 7836,61,34.7,183.9,Fresno,California,United States,93706
17,18,Roxanne,Andreyeva,2103 Edington Drive,female,7/24/1922,RoxanneAndreyeva@armyspy.com,678-829-8578,60,25.2,129.1,Smyrna,GA,United States,30082
18,19,William,Oates,441 Tibbs Avenue,male,9/4/1949,WilliamVOates@armyspy.com,406-775-2696,64,34.7,202.2,Ekalaka,MT,United States,59324
19,20,Zak,Kelly,994 Hill Croft Farm Road,male,12/13/1988,ZakKelly@rhyta.com,1 530 532 8397,70,30.0,208.8,Oroville,California,United States,95966
20,21,Sofia,Karlsen,2931 Romano Street,female,9/24/1934,SofiaTKarlsen@teleworm.us,1 781 447 1763,66,24.7,153.1,Whitman,MA,United States,02382
21,22,Samúel,Guðbrandsson,1904 Granville Lane,male,4/12/1983,SamuelGubrandsson@teleworm.us,973-445-5341,69,33.0,223.7,Elmsford,NJ,United States,10523
22,23,Manchu,Su,1092 Deans Lane,male,1/19/1936,ManchuSu@einrot.com,914-745-6108,65,21.7,130.7,Pleasantville,NY,United States,10570
23,24,Lovre,Galić,4941 Marion Drive,male,5/26/1960,LovreGalic@gustr.com,1 813 355 9476,66,36.0,222.9,Winter Haven,Florida,United States,33830
24,25,Jakob,Jakobsen,648 Old Dear Lane,male,8/1/1985,JakobCJakobsen@einrot.com,+1 (845) 858-7707,67,24.4,155.8,Port Jervis,New York,United States,12771
25,26,Gregor,Bole,922 Chapmans Lane,male,6/19/1922,GregorBole@gustr.com,505-828-4955,67,28.3,180.8,Albuquerque,NM,United States,87109
26,27,Ella,Lund,1207 Garfield Road,female,12/19/1933,EllaLund@armyspy.com,309-671-8852,61,27.4,144.8,Peoria,IL,United States,61602
27,28,Joseph,Tucker,4982 Wood Street,male,4/10/1959,JosephNTucker@rhyta.com,985-814-7603,72,23.8,175.8,Venice,LA,United States,70091
28,29,Robert,Wolf,2386 Linda Street,male,6/26/1937,RobertWolf@fleckens.hu,1 267 895 7462,70,29.6,206.6,Fort Washington,PA,United States,19034
29,30,Jake,Jakobsen,648 Old Dear Lane,male,8/1/1985,JakobCJakobsen@einrot.com,+1 (845) 858-7707,67,24.4,155.8,Port Jervis,New York,United States,12771
30,31,Janina,Bazarova,3259 Roy Alley,female,6/29/1964,JaninaBazarova@superrito.com,303-910-2058,65,26.1,156.9,Englewood,CO,United States,80112
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
473,486,Trifon,Izmailov,3697 Drainer Avenue,male,2/15/1973,TrifonIzmailov@fleckens.hu,1 850 659 0417,74,32.9,255.9,Fort Walton Beach,FL,United States,32548
474,487,Samuel,Blix,3488 Clair Street,male,7/6/1983,SamuelBlix@dayrep.com,254-681-4504,74,27.1,211.4,Waco,TX,United States,76706
475,488,Ivar,Löfgren,1346 Nicholas Street,male,11/7/1962,IvarLofgren@armyspy.com,1 785 229 1188,77,28.7,242.4,Ottawa,KS,United States,66067
476,489,Mika,Martinsson,962 George Street,male,1/27/1970,MikaMartinsson@armyspy.com,352-453-4601,67,25.8,165.0,Ocala,Florida,United States,34471
477,490,Jasmine,Sykes,2607 Water Street,female,12/1/1988,JasmineSykes@jourrapide.com,925-283-5425,63,33.2,187.2,Lafayette,California,United States,94549
478,491,Jackson,Addison,1160 Taylor Street,male,5/29/1953,JacksonAddison@armyspy.com,914-636-9304,69,28.5,192.7,New Rochelle,New York,United States,10801
479,492,Vanessa,Ferguson,241 Freshour Circle,female,9/21/1950,VanessaFerguson@jourrapide.com,210-222-8684,67,23.5,149.8,San Antonio,TX,United States,78205
480,493,Poldi,Tar,3958 Liberty Avenue,male,5/23/1970,TarPoldi@superrito.com,714-496-2264,70,26.5,184.6,Burbank,California,United States,91505
481,494,Fen,Chin,1826 Poplar Chase Lane,female,3/18/1997,FenChin@gustr.com,+1 (208) 388-1065,68,29.7,195.1,Boise,ID,United States,83702
482,495,Sirkka,Piirainen,4102 Ritter Avenue,female,1/16/1942,SirkkaPiirainen@teleworm.us,+1 (586) 790-0975,67,19.8,126.3,Roseville,MI,United States,48066
483,496,Hajime,Tsukada,4111 Thunder Road,male,9/5/1972,HajimeTsukada@dayrep.com,650-570-4896,66,27.1,168.1,San Mateo,CA,United States,94403
484,497,Alexander,Hueber,3868 Freed Drive,male,9/12/1942,AlexanderHueber@jourrapide.com,1 209 762 2320,72,26.3,194.0,Stockton,California,United States,95204
485,498,Masataka,Murakami,1179 Patton Lane,male,8/19/1937,MasatakaMurakami@einrot.com,+1 (918) 984-9171,72,21.0,155.1,Tulsa,OK,United States,74116
486,499,Mustafa,Lindström,2530 Victoria Court,male,4/10/1959,MustafaLindstrom@jourrapide.com,207-477-0579,72,24.6,181.1,Milton Mills,ME,United States,03852
487,500,Ruman,Bisliev,494 Clarksburg Park Road,male,3/26/1948,RumanBisliev@gustr.com,928-284-4492,70,34.4,239.6,Sedona,AZ,United States,86341
488,501,Jinke,de Keizer,649 Nutter Street,female,1/13/1971,JinkedeKeizer@teleworm.us,816-223-6007,67,26.8,171.2,Overland Park,MO,United States,64110
489,502,Chidalu,Onyekaozulu,3652 Boone Crockett Lane,female,2/13/1952,ChidaluOnyekaozulu@jourrapide.com,1 360 443 2060,67,27.7,176.9,Seattle,WA,United States,98109
490,503,Pat,Gersten,2778 North Avenue,male,5/3/1954,PatrickGersten@rhyta.com,402-848-4923,71,19.3,138.2,Burr,Nebraska,United States,68324
491,210,Lalita,Eldarkhanov,NaN,female,8/14/1950,NaN,NaN,62,26.2,143.4,NaN,NaN,NaN,00nan
492,220,Mỹ,Quynh,NaN,male,4/9/1978,NaN,NaN,69,35.1,237.8,NaN,NaN,NaN,00nan
493,231,Elisabeth,Knudsen,NaN,female,9/23/1976,NaN,NaN,63,29.4,165.9,NaN,NaN,NaN,00nan
494,235,Martina,Tománková,NaN,female,4/7/1936,NaN,NaN,65,33.2,199.5,NaN,NaN,NaN,00nan
495,243,John,O'Brian,NaN,male,2/25/1957,NaN,NaN,74,26.4,205.3,NaN,NaN,NaN,00nan
496,250,Benjamin,Mehler,NaN,male,10/30/1951,NaN,NaN,69,21.6,146.5,NaN,NaN,NaN,00nan
497,258,Jin,Kung,NaN,male,5/17/1995,NaN,NaN,69,34.2,231.7,NaN,NaN,NaN,00nan
498,265,Wafiyyah,Asfour,NaN,female,11/3/1989,NaN,NaN,63,28.1,158.6,NaN,NaN,NaN,00nan
499,270,Flavia,Fiorentino,NaN,female,10/9/1937,NaN,NaN,61,33.1,175.2,NaN,NaN,NaN,00nan
500,279,Generosa,Cabán,NaN,female,12/16/1962,NaN,NaN,69,18.4,124.3,NaN,NaN,NaN,00nan
501,287,Lewis,Webb,NaN,male,4/1/1979,NaN,NaN,68,23.6,155.3,NaN,NaN,NaN,00nan
502,297,Chỉ,Lâm,NaN,female,5/14/1990,NaN,NaN,63,32.1,181.1,NaN,NaN,NaN,00nan

In [205]:
patients_copy['state'].value_counts()

California    36
TX            32
New York      25
CA            24
NY            22
MA            22
PA            18
GA            15
OH            14
Illinois      14
Florida       13
OK            13
LA            13
MI            13
NJ            12
VA            11
WI            10
IL            10
MS            10
IN             9
FL             9
TN             9
MN             9
NC             8
KY             8
AL             8
WA             8
MO             7
ID             6
NV             6
KS             6
CT             5
SC             5
IA             5
ND             4
CO             4
AZ             4
ME             4
AR             4
RI             4
Nebraska       4
MD             3
WV             3
DE             3
SD             3
OR             3
DC             2
MT             2
VT             2
NE             2
NH             1
NM             1
AK             1
WY             1
Name: state, dtype: int64

# Code

In [206]:
patients_copy['state'].replace({'California':'CA','Illinois':'IL','Nebraska':'NE','Florida':'FL','New York':'NY'},inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:5890: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

# # Test

In [207]:
patients_copy['state'].value_counts()

CA    60
NY    47
TX    32
IL    24
MA    22
FL    22
PA    18
GA    15
OH    14
LA    13
MI    13
OK    13
NJ    12
VA    11
WI    10
MS    10
IN     9
MN     9
TN     9
WA     8
AL     8
KY     8
NC     8
MO     7
KS     6
ID     6
NE     6
NV     6
CT     5
IA     5
SC     5
AR     4
ND     4
ME     4
AZ     4
RI     4
CO     4
WV     3
DE     3
MD     3
OR     3
SD     3
MT     2
DC     2
VT     2
NH     1
NM     1
WY     1
AK     1
Name: state, dtype: int64

# #Result

In [208]:
patients=patients_copy.copy()
treatments=treatments_final.copy()

In [209]:
patients.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 502 entries, 0 to 502
Data columns (total 15 columns):
patient_id       502 non-null int64
given_name       502 non-null object
surname          502 non-null object
address          490 non-null object
assigned_sex     502 non-null object
birthdate        502 non-null object
Emails           490 non-null object
Phone numbers    490 non-null object
height           502 non-null int64
bmi              502 non-null float64
weight           502 non-null float64
city             490 non-null object
state            490 non-null object
country          490 non-null object
zip_code         502 non-null object
dtypes: float64(2), int64(2), object(11)
memory usage: 62.8+ KB

In [210]:
treatments.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 349 entries, 0 to 349
Data columns (total 9 columns):
given_name          349 non-null object
surname             349 non-null object
hba1c_start         349 non-null float64
hba1c_end           349 non-null float64
hba1c_change        349 non-null float64
treatment           349 non-null object
start               349 non-null int32
end                 349 non-null int32
adverse_reaction    34 non-null object
dtypes: float64(3), int32(2), object(4)
memory usage: 24.5+ KB

In [211]:
patients

,patient_id,given_name,surname,address,assigned_sex,birthdate,Emails,Phone numbers,height,bmi,weight,city,state,country,zip_code
0,1,Zoe,Wellish,576 Brown Bear Drive,female,7/10/1976,ZoeWellish@superrito.com,951-719-9170,66,19.6,121.7,Rancho California,CA,United States,92390
1,2,Pamela,Hill,2370 University Hill Road,female,4/3/1967,PamelaSHill@cuvox.de,+1 (217) 569-3204,66,19.2,118.8,Armstrong,IL,United States,61812
2,3,Jae,Debord,1493 Poling Farm Road,male,2/19/1980,JaeMDebord@gustr.com,402-363-6804,71,24.8,177.8,York,NE,United States,68467
3,4,Liêm,Phan,2335 Webster Street,male,7/26/1951,PhanBaLiem@jourrapide.com,+1 (732) 636-8246,70,31.7,220.9,Woodbridge,NJ,United States,07095
5,6,Rafael,Costa,1140 Willis Avenue,male,8/31/1931,RafaelCardosoCosta@gustr.com,386-334-5237,70,26.4,183.9,Daytona Beach,FL,United States,32114
6,7,Mary,Adams,3145 Sheila Lane,female,11/19/1969,MaryBAdams@einrot.com,775-533-5933,65,24.3,146.3,Burbank,NV,United States,84728
7,8,Xiuxiu,Chang,2687 Black Oak Hollow Road,female,8/13/1958,XiuxiuChang@einrot.com,1 408 778 3236,60,30.9,158.0,Morgan Hill,CA,United States,95037
8,9,Dsvid,Gustafsson,1790 Nutter Street,male,3/6/1937,DavidGustafsson@armyspy.com,816-265-9578,66,26.5,163.9,Kansas City,MO,United States,64105
9,10,Sophie,Cabrera,3303 Anmoore Road,female,12/3/1930,SophieCabreraIbarra@teleworm.us,1 718 795 9124,64,33.4,194.7,New York,NY,United States,10011
10,11,Sandy,Gunnarsson,87 Wood Duck Drive,female,7/16/1974,SandyGunnarsson@dayrep.com,906-478-8949,62,36.4,199.3,Rudyard,MI,United States,49780
11,12,Abdul-Nur,Isa,1092 Farm Meadow Drive,male,2/3/1954,Abdul-NurMummarIsa@rhyta.com,1 931 207 0839,73,31.5,238.7,Brentwood,TN,United States,37027
12,13,Omeokachie,Ibeamaka,2544 Worley Avenue,male,8/5/1957,OmeokachieIbeamaka@einrot.com,434-509-2614,69,33.1,224.2,Lynchburg,VA,United States,24504
13,14,Anenechi,Chidi,826 Broad Street,female,3/7/1961,AnenechiChidi@armyspy.com,+1 (205) 417-8095,67,35.8,228.4,Birmingham,AL,United States,35203
14,15,Asia,Woźniak,4970 Heather Sees Way,female,8/15/1997,AsiaWozniak@rhyta.com,918-712-3469,65,18.6,112.0,Tulsa,OK,United States,74105
15,16,Søren,Lund,2438 Shady Pines Drive,male,8/23/1922,SrenFLund@gustr.com,276-225-1955,64,34.6,201.5,Kingsport,VA,United States,37660
16,17,Tám,Liễu,2152 Heritage Road,female,11/14/1952,LieuThiThuTam@dayrep.com,1 559 765 7836,61,34.7,183.9,Fresno,CA,United States,93706
17,18,Roxanne,Andreyeva,2103 Edington Drive,female,7/24/1922,RoxanneAndreyeva@armyspy.com,678-829-8578,60,25.2,129.1,Smyrna,GA,United States,30082
18,19,William,Oates,441 Tibbs Avenue,male,9/4/1949,WilliamVOates@armyspy.com,406-775-2696,64,34.7,202.2,Ekalaka,MT,United States,59324
19,20,Zak,Kelly,994 Hill Croft Farm Road,male,12/13/1988,ZakKelly@rhyta.com,1 530 532 8397,70,30.0,208.8,Oroville,CA,United States,95966
20,21,Sofia,Karlsen,2931 Romano Street,female,9/24/1934,SofiaTKarlsen@teleworm.us,1 781 447 1763,66,24.7,153.1,Whitman,MA,United States,02382
21,22,Samúel,Guðbrandsson,1904 Granville Lane,male,4/12/1983,SamuelGubrandsson@teleworm.us,973-445-5341,69,33.0,223.7,Elmsford,NJ,United States,10523
22,23,Manchu,Su,1092 Deans Lane,male,1/19/1936,ManchuSu@einrot.com,914-745-6108,65,21.7,130.7,Pleasantville,NY,United States,10570
23,24,Lovre,Galić,4941 Marion Drive,male,5/26/1960,LovreGalic@gustr.com,1 813 355 9476,66,36.0,222.9,Winter Haven,FL,United States,33830
24,25,Jakob,Jakobsen,648 Old Dear Lane,male,8/1/1985,JakobCJakobsen@einrot.com,+1 (845) 858-7707,67,24.4,155.8,Port Jervis,NY,United States,12771
25,26,Gregor,Bole,922 Chapmans Lane,male,6/19/1922,GregorBole@gustr.com,505-828-4955,67,28.3,180.8,Albuquerque,NM,United States,87109
26,27,Ella,Lund,1207 Garfield Road,female,12/19/1933,EllaLund@armyspy.com,309-671-8852,61,27.4,144.8,Peoria,IL,United States,61602
27,28,Joseph,Tucker,4982 Wood Street,male,4/10/1959,JosephNTucker@rhyta.com,985-814-7603,72,23.8,175.8,Venice,LA,United States,70091
28,29,Robert,Wolf,2386 Linda Street,male,6/26/1937,RobertWolf@fleckens.hu,1 267 895 7462,70,29.6,206.6,Fort Washington,PA,United States,19034
29,30,Jake,Jakobsen,648 Old Dear Lane,male,8/1/1985,JakobCJakobsen@einrot.com,+1 (845) 858-7707,67,24.4,155.8,Port Jervis,NY,United States,12771
30,31,Janina,Bazarova,3259 Roy Alley,female,6/29/1964,JaninaBazarova@superrito.com,303-910-2058,65,26.1,156.9,Englewood,CO,United States,80112
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
473,486,Trifon,Izmailov,3697 Drainer Avenue,male,2/15/1973,TrifonIzmailov@fleckens.hu,1 850 659 0417,74,32.9,255.9,Fort Walton Beach,FL,United States,32548
474,487,Samuel,Blix,3488 Clair Street,male,7/6/1983,SamuelBlix@dayrep.com,254-681-4504,74,27.1,211.4,Waco,TX,United States,76706
475,488,Ivar,Löfgren,1346 Nicholas Street,male,11/7/1962,IvarLofgren@armyspy.com,1 785 229 1188,77,28.7,242.4,Ottawa,KS,United States,66067
476,489,Mika,Martinsson,962 George Street,male,1/27/1970,MikaMartinsson@armyspy.com,352-453-4601,67,25.8,165.0,Ocala,FL,United States,34471
477,490,Jasmine,Sykes,2607 Water Street,female,12/1/1988,JasmineSykes@jourrapide.com,925-283-5425,63,33.2,187.2,Lafayette,CA,United States,94549
478,491,Jackson,Addison,1160 Taylor Street,male,5/29/1953,JacksonAddison@armyspy.com,914-636-9304,69,28.5,192.7,New Rochelle,NY,United States,10801
479,492,Vanessa,Ferguson,241 Freshour Circle,female,9/21/1950,VanessaFerguson@jourrapide.com,210-222-8684,67,23.5,149.8,San Antonio,TX,United States,78205
480,493,Poldi,Tar,3958 Liberty Avenue,male,5/23/1970,TarPoldi@superrito.com,714-496-2264,70,26.5,184.6,Burbank,CA,United States,91505
481,494,Fen,Chin,1826 Poplar Chase Lane,female,3/18/1997,FenChin@gustr.com,+1 (208) 388-1065,68,29.7,195.1,Boise,ID,United States,83702
482,495,Sirkka,Piirainen,4102 Ritter Avenue,female,1/16/1942,SirkkaPiirainen@teleworm.us,+1 (586) 790-0975,67,19.8,126.3,Roseville,MI,United States,48066
483,496,Hajime,Tsukada,4111 Thunder Road,male,9/5/1972,HajimeTsukada@dayrep.com,650-570-4896,66,27.1,168.1,San Mateo,CA,United States,94403
484,497,Alexander,Hueber,3868 Freed Drive,male,9/12/1942,AlexanderHueber@jourrapide.com,1 209 762 2320,72,26.3,194.0,Stockton,CA,United States,95204
485,498,Masataka,Murakami,1179 Patton Lane,male,8/19/1937,MasatakaMurakami@einrot.com,+1 (918) 984-9171,72,21.0,155.1,Tulsa,OK,United States,74116
486,499,Mustafa,Lindström,2530 Victoria Court,male,4/10/1959,MustafaLindstrom@jourrapide.com,207-477-0579,72,24.6,181.1,Milton Mills,ME,United States,03852
487,500,Ruman,Bisliev,494 Clarksburg Park Road,male,3/26/1948,RumanBisliev@gustr.com,928-284-4492,70,34.4,239.6,Sedona,AZ,United States,86341
488,501,Jinke,de Keizer,649 Nutter Street,female,1/13/1971,JinkedeKeizer@teleworm.us,816-223-6007,67,26.8,171.2,Overland Park,MO,United States,64110
489,502,Chidalu,Onyekaozulu,3652 Boone Crockett Lane,female,2/13/1952,ChidaluOnyekaozulu@jourrapide.com,1 360 443 2060,67,27.7,176.9,Seattle,WA,United States,98109
490,503,Pat,Gersten,2778 North Avenue,male,5/3/1954,PatrickGersten@rhyta.com,402-848-4923,71,19.3,138.2,Burr,NE,United States,68324
491,210,Lalita,Eldarkhanov,NaN,female,8/14/1950,NaN,NaN,62,26.2,143.4,NaN,NaN,NaN,00nan
492,220,Mỹ,Quynh,NaN,male,4/9/1978,NaN,NaN,69,35.1,237.8,NaN,NaN,NaN,00nan
493,231,Elisabeth,Knudsen,NaN,female,9/23/1976,NaN,NaN,63,29.4,165.9,NaN,NaN,NaN,00nan
494,235,Martina,Tománková,NaN,female,4/7/1936,NaN,NaN,65,33.2,199.5,NaN,NaN,NaN,00nan
495,243,John,O'Brian,NaN,male,2/25/1957,NaN,NaN,74,26.4,205.3,NaN,NaN,NaN,00nan
496,250,Benjamin,Mehler,NaN,male,10/30/1951,NaN,NaN,69,21.6,146.5,NaN,NaN,NaN,00nan
497,258,Jin,Kung,NaN,male,5/17/1995,NaN,NaN,69,34.2,231.7,NaN,NaN,NaN,00nan
498,265,Wafiyyah,Asfour,NaN,female,11/3/1989,NaN,NaN,63,28.1,158.6,NaN,NaN,NaN,00nan
499,270,Flavia,Fiorentino,NaN,female,10/9/1937,NaN,NaN,61,33.1,175.2,NaN,NaN,NaN,00nan
500,279,Generosa,Cabán,NaN,female,12/16/1962,NaN,NaN,69,18.4,124.3,NaN,NaN,NaN,00nan
501,287,Lewis,Webb,NaN,male,4/1/1979,NaN,NaN,68,23.6,155.3,NaN,NaN,NaN,00nan
502,297,Chỉ,Lâm,NaN,female,5/14/1990,NaN,NaN,63,32.1,181.1,NaN,NaN,NaN,00nan

In [212]:
treatments

,given_name,surname,hba1c_start,hba1c_end,hba1c_change,treatment,start,end,adverse_reaction
0,Veronika,Jindrová,7.63,7.20,0.43,auralin,41,48,NaN
1,Skye,Gormanston,7.97,7.62,0.35,auralin,33,36,NaN
2,Sophia,Haugen,7.65,7.27,0.38,auralin,37,42,NaN
3,Eddie,Archer,7.89,7.55,0.34,auralin,31,38,NaN
4,Asia,Woźniak,7.76,7.37,0.39,auralin,30,36,NaN
5,Joseph,Day,7.70,7.19,0.51,auralin,29,36,hypoglycemia
6,Roxanne,Andreyeva,9.54,9.14,0.40,auralin,29,38,NaN
7,Simone,Baumgaertner,7.74,7.30,0.44,auralin,27,37,NaN
8,Enco,Žibrik,7.78,7.34,0.44,auralin,55,68,NaN
9,Camilla,Zaitseva,7.53,7.13,0.40,auralin,28,37,NaN
10,Tekla,Walczak,7.61,7.29,0.32,auralin,29,39,NaN
11,Brancaleone,Russo,8.61,8.18,0.43,auralin,53,60,NaN
12,Isac,Berg,9.68,9.29,0.39,auralin,31,41,NaN
13,Clinton,Miller,7.79,7.40,0.39,auralin,42,51,throat irritation
14,Eugene,Mironov,7.81,7.48,0.33,auralin,42,49,NaN
15,Szilveszter,Totth,7.70,7.38,0.32,auralin,35,39,NaN
16,Alexander,Mathiesen,7.96,7.55,0.41,auralin,47,58,NaN
17,Chỉ,Lâm,7.68,7.24,0.44,auralin,45,48,NaN
18,Władysław,Wieczorek,7.92,7.47,0.45,auralin,24,37,NaN
19,Kristján,Ingason,7.92,7.57,0.35,auralin,44,55,NaN
20,Marija,Grubišić,7.53,7.15,0.38,auralin,37,43,NaN
21,Sauli,Koivuniemi,7.67,7.37,0.30,auralin,43,47,NaN
22,Mariana,Souza,7.86,7.51,0.35,auralin,36,42,NaN
23,Kristoffer,Martinsen,9.18,8.64,0.54,auralin,29,37,NaN
24,Mỹ,Quynh,7.61,7.16,0.45,auralin,57,64,NaN
25,Oles,Zhdanov,7.52,7.11,0.41,auralin,54,67,NaN
26,Triana.,Terrazas,7.71,7.34,0.37,auralin,34,42,NaN
27,Gabryŝ,Tomaszewski,7.87,7.47,0.40,auralin,29,37,NaN
28,Leixandre,Alanis,7.74,7.32,0.42,auralin,61,67,NaN
29,Onyekachukwu,Obinna,7.58,7.12,0.46,auralin,37,46,NaN
...,...,...,...,...,...,...,...,...,...
320,Jane,Citizen,7.98,7.60,0.38,novodra,37,38,NaN
321,Angela,Lavrentyev,7.61,7.14,0.47,novodra,28,24,NaN
322,Edelma,Villalpando,7.99,7.56,0.43,novodra,24,26,NaN
323,Annika,Vaara,7.73,7.34,0.39,novodra,20,21,NaN
324,Chiho,Higa,7.71,7.30,0.41,novodra,46,46,NaN
325,Beatrycze,Woźniak,7.54,7.17,0.37,novodra,26,27,NaN
326,Miłosław,Wiśniewski,7.51,7.08,0.43,novodra,34,33,injection site discomfort
327,Firenze,Fodor,7.89,7.55,0.34,novodra,30,35,NaN
328,Zoe,Wellish,7.71,7.30,0.41,novodra,33,33,NaN
329,Una,Traustadóttir,8.00,7.50,0.50,novodra,35,34,NaN
330,Luboš,Pecha,7.79,7.45,0.34,novodra,30,27,NaN
331,Meaza,Brhane,7.70,7.36,0.34,novodra,37,41,NaN
332,Adlan,Shishani,7.84,7.37,0.47,novodra,43,40,NaN
333,Sofia,Hermansen,8.90,8.57,0.33,novodra,34,34,injection site discomfort
334,Guðni,Heimisson,7.64,7.24,0.40,novodra,40,36,NaN
335,Eufemio,Rosario,7.54,7.26,0.28,novodra,37,40,NaN
336,Dalmacia,Madrid,7.67,7.21,0.46,novodra,26,23,NaN
337,Daimy,Tromp,9.41,8.94,0.47,novodra,40,45,NaN
338,Jeremy,Montagu,7.68,7.36,0.32,novodra,52,52,NaN
339,Nebechi,Ekechukwu,7.78,7.39,0.39,novodra,37,39,NaN
340,Satsita,Batukayev,7.63,7.25,0.38,novodra,42,42,NaN
341,Timothy,Cotton,7.92,7.52,0.40,novodra,26,25,NaN
342,Bjørnar,Nilsen,7.99,7.70,0.29,novodra,36,33,NaN
343,Borna,Šlezinger,7.55,7.18,0.37,novodra,42,41,NaN
344,Mary,Adams,7.65,7.26,0.39,novodra,32,33,NaN
345,Christopher,Woodward,7.51,7.06,0.45,novodra,55,51,nausea
346,Maret,Sultygov,7.67,7.30,0.37,novodra,26,23,NaN
347,Lixue,Hsueh,9.21,8.80,0.41,novodra,22,23,injection site discomfort
348,Jakob,Jakobsen,7.96,7.51,0.45,novodra,28,26,hypoglycemia
349,Berta,Napolitani,7.68,7.21,0.47,novodra,42,44,injection site discomfort

### What is Assessing Data?

The data analysis process consists of the following steps

1. Asking Questions
2. Data Wrangling<br><br>
    a. Gathering Data
            i.   CSV files
            ii.  APIs
            iii. Web Scraping
            iv.  Databases
    b. <b>Assessing Data</b><br>
    c. Cleaning Data<br><br>
3. Exploratory Data Analysis
4. Drawing Conclusion
5. Comunicating Results

### Assessing Data

In this step, the data is to be understood more deeply. Before implementing methods to clean it, you will definitely need to have a better idea about what the data is about.

### Types of Unclean Data

There are 2 kinds of unclean data

1. <u>Dirty Data</u> (Data with Quality issues):<br>
    Dirty data, also known as low quality data. Low quality data has content issues.<br>
2. <u>Messy Data</u> (Data with tidiness issues)<br>
    Messy data, also known as untidy data. Untidy data has structural issues.

### 1. Dirty Data

When the data has following kinds of issues:

1. Duplicated data
2. Missing Data
3. Corrupt Data
4. Inaccurate Data

This kind of data is known as Dirty data

### 2. Messy Data

When the data has structural issue is it known as Messy or untidy data.

Tidy data has the following properties:

1. Each variable forms a column
2. Each observation forms a row
3. Each observational unit forms a table

If a data violates any one of the above it is known as untidy data

Example:

<img src="untidy.png">

### Types of Assessment

There are 2 types of assessment styles

1. Manual - Looking through the data manually in google sheets
2. Programmatic - By using pandas functions such as info(), describe() or sample()

### Steps in Assessment

There are 2 steps involved in Assessment

1. Discover
2. Document

### Data Quality Dimensions

1. Completeness Issues
2. Validity Issues
3. Accuracy Issues
4. Consistency Issues